*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
p.redred{
    color: rgb(153, 94, 94);
    font-size: 40px;
    text-align: left;
    text-indent: 3em;
}

.blue{
    color:#8175a3;
}

body{
    font-family:sans-serif;
}

.expedu_icon{
    color: aquamarine;
}

.expedu_icon:hover{
    background-color: aquamarine;
    color: wheat;
}

.bg-primary{
    background-color: #8175a3;
    background-image: url(../assets/img/001.jpg);
}